*, *::before, *::after{
    box-sizing: border-box;
}
body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
.container{
   width: 80%;
   max-width: 900px;
   margin: 0 auto;
}
.hero{
    padding: 100px 0px;
    background-color: #23424A;
    color: #fff;
}

.hero__text {
    width: 60%;

}

.btn {
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: #38CFD9;
    padding: .75em 2em;
    border-radius: 100px;
}